@layout ConfiguracoesLayout
@page "/UsuarioLista"

<SpinnerWorking exibe="exibeSpinner"></SpinnerWorking>
<MensagemInformativa mensagemInformativaDTO="mensagemInformativaDTO"></MensagemInformativa>

<div class="container-fluid">
    <SfCard CssClass="card-tela">
        <CardContent>
            <div class="row mt-2 mb-4">
                <div class="col">
                    <h6 class="display-4 mb-0" style="font-size:2.0rem"><span class="arrow-title">» </span>Usuários</h6>
                </div>
            </div>
            <hr />
            @if (listaUsuarioDTO.Count >= 0)
            {
                <SfGrid DataSource="@listaUsuarioDTO" AllowPaging="true">
                    <GridPageSettings PageCount="5" PageSizes="true" PageSize="20"></GridPageSettings>
                    <GridEvents CommandClicked="ModalEditaUsuario" TValue="UsuarioDTO"></GridEvents>
                    <GridColumns>
                        <GridColumn Field=@nameof(UsuarioDTO.Nome) HeaderText="Nome" Width="200"></GridColumn>
                        <GridColumn Field=@nameof(UsuarioDTO.Login) HeaderText="Login" Width="120"></GridColumn>
                        <GridColumn HeaderText="" Width="80">
                            <GridCommandColumns>
                                <GridCommandColumn ButtonOption="@(new CommandButtonOptions() {IsPrimary=true, Content="Editar" })"></GridCommandColumn>
                            </GridCommandColumns>

                        </GridColumn>
                    </GridColumns>
                </SfGrid>
            }
        </CardContent>
    </SfCard>
</div>