@page "/Home"
@layout HomeLayout
@inject NavigationManager Navigation

<MensagemInformativa mensagemInformativaDTO="mensagemInformativaDTO"></MensagemInformativa>

@*INICIO MODAL TROCA SENHA*@
<SfDialog id="ModalSenha" Width="450" Height="400" Target="#target" IsModal="true" @bind-Visible="exibeModalTrocaSenha">
    <DialogTemplates>
        <Header>
            <div class="row mt-1">
                Usuário: @Config.usuarioDTO.Nome
            </div>
        </Header>
        <Content>
            <div class="container-fluid">
                <p class="m-3" style="white-space: pre-line">
                    A senha de ver no mínimo 6 caracteres e no máximo 15 caracteres.
                </p>
                <div class="row">
                    <div class="form-group col-md-11">
                        <div class="container-fluid">
                            <div class="form-group">
                                <SfTextBox Placeholder="Senha atual" Type="InputType.Password"></SfTextBox>
                            </div>
                            <div class="form-group">
                                <SfTextBox Placeholder="Nova senha" Type="InputType.Password"></SfTextBox>
                            </div>
                            <div class="form-group">
                                <SfTextBox Placeholder="Confirme nova senha" Type="InputType.Password"></SfTextBox>
                            </div>
                        </div>
                    </div>
                </div>
                <CardFooter>
                    <div class="row mt-3 text-right">
                        <div class="form-group col">
                            <SfButton OnClick="FecharTrocaSenha">Fechar</SfButton>
                            <SfButton CssClass="btn-blue">Atualizar senha</SfButton>
                        </div>
                    </div>
                </CardFooter>
            </div>
        </Content>
    </DialogTemplates>
</SfDialog>

@*FIM MODAL TROCA SENHA*@

<div class="text-center container-modulos">
    <h4 class="mb-5">Menu de aplicações.</h4>
    <hr/>
    <SfButton id="gestao-cobranca" CssClass="btn-modulo" OnClick="GestaoCobranca_OnClick">
        <div>
            <img src="./assets/icon-gestao-cobranca.svg" height="40" class="icon-home" />
        </div>
        Gestão de Cobrança
    </SfButton>

    <SfButton id="gestao-logistica" CssClass="e-primary btn-modulo" OnClick="GestaoLogistica_OnClick">
        <div>
            <img src="./assets/icon-gestao-logistica.svg" height="40" class="icon-home" />
        </div>
        Gestão de Logística
    </SfButton>

    <SfButton id="configuracoes" CssClass="btn-modulo" OnClick="Configuracoes_OnClick">
        <div>
            <img src="./assets/icon-configuracoes.svg" height="40" class="icon-home" />
        </div>
        Configurações
    </SfButton>

</div>
<div class="text-center">
    <hr />
    <SfButton CssClass="e-danger" OnClick="ExibeModalTrocaSenha" Content="Trocar minha senha"></SfButton>
</div>
    



    <style>
        #ModalSenha {
            max-height: none !important;
        }
        .icon-home {
            margin: 15px 0px;
        }

        #gestao-cobranca {
            background: #6EC401;
            border-color: #6EC401;
        }

        #configuracoes {
            background: #0092ff;
            border-color: #0092ff
        }

        .container-modulos {
            margin-top: 25vh
        }

        .btn-modulo {
            font-size: 16px;
            font-weight: bold;
            height: 175px;
            width: 210px;
        }

            .btn-modulo:hover {
                filter: brightness(95%) !important;
            }
    </style>

