@inherits LayoutComponentBase

<div class="login-container">
    @Body
</div>


<style>
    .login-container {
        background: linear-gradient(60deg, rgba(24, 58, 97, 1) 16%, rgba(42, 108, 176, 1) 99%);
        height: 100vh;
        width: 100vw;
    }
</style>

