@page "/"
@layout LoginLayout
@using TecWi_Web.FrontServices.Interfaces
@using TecWi_Web.FrontServices;

@inject IUsuarioFrontService usuarioFrontService
@inject Microsoft.Extensions.Configuration.IConfiguration configurations
@inject NavigationManager Navigation


<SpinnerWorking exibe="exibeSpinner"></SpinnerWorking>
<MensagemInformativa mensagemInformativaDTO="mensagemInformativaDTO"></MensagemInformativa>


<div id="login-container" class="d-flex justify-content-center">
    <img class="m-4" src="./assets/tecwi_logo.svg" width="140">
</div>

<div class="d-flex justify-content-center">
    <div id="card-login" class="card shadow pb-3">
        <div class="card-body">
            <h5 class="mb-4 mt-2" style="color: #414141">Olá! <br />Faça login para continuar...</h5>

            <div class="form">
                <div class="form-group">
                    <label>Usuário</label>
                    <SfTextBox Type="InputType.Text" @bind-Value="usuarioDTO.Login" />
                </div>
                <div class="form-group">
                    <label>Senha</label>
                    <SfTextBox Type="InputType.Password" @bind-Value="usuarioDTO.Senha" />
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <SfSwitch id="lembrarMe" @bind-Checked="isChecked" />
                            <label for="lembrarMe">Lembrar-me</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <SfButton CssClass="e-primary" Content="Entrar" OnClick="FazLogin" />
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="d-flex justify-content-center">
    <small class=" mt-2" style="color: #5389bf;">@ano &copy; - Desenvolvido por Z4 Code.</small>
</div>
@code
{
    protected override async Task OnInitializedAsync()
    {
        Config.ApiUrl = configurations["ApiUrl"];
    }
}
<style>

    #login-container {
        padding-top: 15vh;
    }

    #card-login {
        width: 340px;
    }
</style>