@using Syncfusion.Blazor.Popups

<SfDialog id="ModalAnotacao" Width="600px" Target="#taget" IsModal="true" @bind-Visible="anotacaoDTO.exibe">
    <DialogTemplates>
        <Header>
            <div class="row mt-2">
                Data do contato: @anotacaoDTO.DtContato.ToString("dd/MM/yyyy")
            </div>
        </Header>
        <Content>
            <div class="container-fluid">
                <p class="m-3" style="white-space: pre-line">
                    @anotacaoDTO.Anotacao
                </p>
                <CardFooter>
                    <div class="row mt-3 text-right">
                        <div class="form-group col">
                            <SfButton IsPrimary="true" OnClick="FechaAnotacao">Fechar</SfButton>
                        </div>
                    </div>
                </CardFooter>
            </div>
        </Content>
    </DialogTemplates>
    <DialogAnimationSettings Effect="DialogEffect.FlipXUp"></DialogAnimationSettings>
</SfDialog>

<style>
    #ModalAnotacao {
        max-height: none !important;
    }
</style>
