@layout GestaoCobrancaLayout
@page "/ContatosLista"

@inject NavigationManager Navigation
@inject ICobrancaFrontService cobrancaFrontService
@inject IClienteFrontservice clienteFrontService


<SpinnerWorking exibe="exibeSpinner"></SpinnerWorking>
<MensagemInformativa mensagemInformativaDTO="mensagemInformativaDTO"></MensagemInformativa>


@*Inicio modal de contato*@
<SfDialog id="modalContato" IsModal="true" CssClass="modal-form" Width="990" Height="630" Target="#target" @bind-Visible="exibeModalContato">
    <DialogTemplates>
        <Header>
            <div class="row mt-1">
                <h4>@clienteDTO.cdclifor - @clienteDTO.razao</h4>
            </div>
        </Header>
        <Content>
            <div class="container-modal-form bg-white">
                <SfTab Height="430" CssClass="tabcontrol-modal">
                    <TabItems>
                        <TabItem>
                            <ChildContent>
                                <TabHeader Text="Informações do contato"></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                                <div class="container-fluid container-modal-form mt-3">
                                    <div class="form">
                                        <div class="form-row">
                                            <div class="form-group col-md">
                                                <label for="fantasia">Fantasia</label>
                                                <SfTextBox id="fantasia" @bind-Value="clienteDTO.fantasia" Enabled="false"></SfTextBox>
                                            </div>

                                            <div class="form-group col-md">
                                                <label for="cnpj">CNPJ</label>
                                                <SfMaskedTextBox id="cnpj" type="text" Mask="00.000.000/0000-00" @bind-Value="clienteDTO.inscrifed" Enabled="false"></SfMaskedTextBox>
                                            </div>

                                            <div class="form-group col-md-2">
                                                <label for="total">Total lançamentos</label>
                                                <SfNumericTextBox id="total" @bind-Value="clienteDTO.totalLancamentos" Format="N2" Enabled="false"></SfNumericTextBox>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md">
                                                <label for="email">e-mail</label>
                                                <SfTextBox id="email" @bind-Value="clienteDTO.email" Enabled="false"></SfTextBox>
                                            </div>

                                            <div class="form-group col-md-1">
                                                <label for="ddd">DDD</label>
                                                <SfTextBox id="ddd" @bind-Value="clienteDTO.ddd" Enabled="false"></SfTextBox>
                                            </div>

                                            <div class="form-group col-md-2">
                                                <label for="fone1">Fone 1</label>
                                                <SfTextBox id="fone1" @bind-Value="clienteDTO.fone1" Enabled="false"></SfTextBox>
                                            </div>

                                            <div class="form-group col-md-2">
                                                <label for="fone2">Fone 2</label>
                                                <SfTextBox id="fone2" @bind-Value="clienteDTO.fone2" Enabled="false"></SfTextBox>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-2">
                                                <label for="tipocontato">Tipo do contato: </label>
                                                <SfDropDownList TItem="TipoContato" TValue="string" PopupHeight="120px" @bind-Index="@indexTipoContato" DataSource="tipoContato">
                                                    <DropDownListEvents TValue="string" TItem="TipoContato" ValueChange="SelecaoTipoContato"></DropDownListEvents>
                                                    <DropDownListFieldSettings Text=@nameof(TipoContato.DsTipoContato) Value=@nameof(TipoContato.Id)></DropDownListFieldSettings>
                                                </SfDropDownList>
                                            </div>

                                            <div class="form-check-inline mt-3 col-md-auto">
                                                <SfSwitch id="ckbHabilitaVendas" @bind-Checked="agendaContatoFuturo" ValueChange="AlteraStatusAgenda" TChecked="bool?" />
                                                <p style="margin-top: 14px; margin-left: 9px;">Agendar contato futuro </p>
                                            </div>

                                            <div class="form-group col-md-2">
                                                <label for="dtcontato">Data Contato Futuro</label>
                                                <SfDatePicker id="dtcontato" TValue="DateTime?" Value="DataAgenda" Format="dd/MM/yyyy" Enabled="habilitaAgenda">
                                                    <DatePickerEvents TValue="DateTime?" ValueChange="AlteraDtAgenda"></DatePickerEvents>
                                                </SfDatePicker>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-12" style="margin-right: 80px">
                                                <label for="observacoes">Anotação do contato</label>
                                                <SfTextBox CssClass="multiline-input" Multiline=true rows="7" id="observacoes" @bind-Value="contatoCobrancaDTO.Anotacao" style="resize:none" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </ContentTemplate>
                        </TabItem>
                        <TabItem>
                            <ChildContent>
                                <TabHeader Text="Lançamentos"></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                                <div class="container-fluid container-modal-form mt-3">
                                    <SfGrid DataSource="clienteDTO.PagarReceberDTO" Height="350">
                                        <GridPageSettings></GridPageSettings>
                                        <GridEditSettings AllowDeleting="true" AllowEditing="true"></GridEditSettings>
                                        <GridEvents TValue="PagarReceberDTO"></GridEvents>
                                        <GridColumns>
                                            <GridColumn Field=@nameof(PagarReceberDTO.cdfilial) HeaderText="" Width="40"></GridColumn>
                                            <GridColumn Field=@nameof(PagarReceberDTO.numlancto) HeaderText="Lancto." Width="80"></GridColumn>
                                            <GridColumn Field=@nameof(PagarReceberDTO.sq) HeaderText="Parc." Width="60"></GridColumn>
                                            <GridColumn Field=@nameof(PagarReceberDTO.NotasFiscais) HeaderText="Nota Fiscal" Width="80"></GridColumn>
                                            <GridColumn Field=@nameof(PagarReceberDTO.valorr) HeaderText="Valor" Width="80" Format="N2" TextAlign="TextAlign.Right"></GridColumn>
                                            <GridColumn Field=@nameof(PagarReceberDTO.dtemissao) Format="dd/MM/yyyy" HeaderText="Emissão" Width="80"></GridColumn>
                                            <GridColumn Field=@nameof(PagarReceberDTO.dtvencto) Format="dd/MM/yyyy" HeaderText="Vencimento" Width="80"></GridColumn>
                                            <GridColumn Field=@nameof(PagarReceberDTO.qtdDiasVencido) HeaderText="Dias Vencido" Format="N0" Width="80" TextAlign="TextAlign.Right"></GridColumn>
                                        </GridColumns>
                                    </SfGrid>

                                </div>
                            </ContentTemplate>
                        </TabItem>
                    </TabItems>
                </SfTab>
                <EditForm Model="clienteDTO">


                </EditForm>


                <CardFooter>
                    <div class="form-row" style="margin-top: 64px;">
                        <div class="form-group col">
                            <SfButton CssClass="btn-blue" type="reset" OnClick="FechaModalContato">Fechar</SfButton>
                        </div>
                        <div class="form-group col-md-auto">
                            <SfButton CssClass="e-primary" OnClick="SalvareBuscaProximoCliente">Salvar e buscar próximo cliente</SfButton>
                        </div>
                    </div>


                    @*<div class="form-row mt-5 mb-3">
                            <div class="form-group col">
                                <SfButton CssClass="btn-outline-blue" type="reset" OnClick="FechaModalContato">Fechar</SfButton>
                            </div>

                            <div class="form-group col-md-auto">
                                <SfButton CssClass="btn-blue" OnClick="SalvareBuscaProximoCliente">Salvar e buscar próximo cliente</SfButton>
                            </div>
                        </div>*@
                </CardFooter>
            </div>
        </Content>
    </DialogTemplates>
</SfDialog>
@*Inicio modal de contato*@

<div class="card-group">
    <div class="card card-dashboard shadow">
        <div class="d-flex card-flex">
            <div class="p-2 col card-dash-content">
                <div class="form">
                    <div class="form-row mb-3 mt-4">
                        <div class="form-group col-md pt-1 mt-2 text-center">
                            <SfButton CssClass="e-primary" Content="Iniciar Contatos" OnClick="InciaContatos" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<style>
    #modalContato {
        max-height: none !important;
    }
</style>