@layout GestaoCobrancaLayout
@page "/GestaoCobranca"

@inject NavigationManager Navigation
@inject ICobrancaFrontService cobrancaFrontService
@inject Microsoft.Extensions.Configuration.IConfiguration configurations


<SpinnerWorking exibe="exibeSpinner"></SpinnerWorking>
<MensagemInformativa mensagemInformativaDTO="mensagemInformativaDTO"></MensagemInformativa>

<div class="card-group">
    <div class="card card-dashboard shadow">
        <div class="d-flex card-flex">
            <div class="p-2 col card-dash-content">
                <div class="form">
                    <div class="form-row mb-3 mt-4">
                        <div class="form-group col-md-6">
                            <h6>Dados de cobrança atualizados em: @DtUltAtualicacaoCobranca.ToString("dd/MM/yyyy HH:mm")</h6>
                        </div>

                        <div class="form-group col-md pt-1 mt-2 text-right">
                            <SfButton CssClass="e-primary" Content="Atualizar dados de cobrança" OnClick="AtualizarDadosCobranca" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


