@layout GestaoLogisticaLayout
@page "/GestaoLogistica"


<h3>olá</h3>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu orci a enim porta laoreet. Lorem ipsum dolor sit
    amet, consectetur adipiscing elit. Sed eget purus faucibus, interdum nulla sed, tincidunt magna. Nulla aliquam massa
    justo, nec tincidunt neque faucibus sit amet. Nullam lacinia augue eget nulla tempus congue. Vivamus id mauris pretium,
    pretium ex vel, gravida purus. Pellentesque a pretium neque. Donec malesuada luctus lacus, in vulputate erat.
    Sed consectetur sapien tellus, non fringilla massa malesuada vitae. Nullam eget odio ac mauris aliquam fermentum
    in a mauris. Suspendisse egestas odio nibh, sit amet pretium dui tincidunt eu. Donec facilisis vulputate lectus ac
    rutrum. Vestibulum mollis purus vel leo convallis vestibulum. Etiam a nisi libero.
</p>

